/* stuff added after the reset */
p { font-size: 16px; line-height: 20px; margin-bottom: 10px; }
h1 { font-size: 28px; }
h2 { font-size: 20px; margin: 20px 0;}
h3 { font-size: 18px; margin: 20px 0; }
section {  }
#nav {margin-top:15px;}
footer p {font-size:12px; margin:0;}